body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.first,
.footer {
background: #1F2937;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
}

h2 {
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Roboto, sans-serif;
}

button {
    background: #3992F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 10px 40px;
    font-family: Roboto, sans-serif;
    border: none;
    font-weight: bold;
    font-size: 18px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    padding-top: 20px;
  
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
}

.first-container1 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.first {
    display: flex;
    padding-top: 0;
    justify-content: space-between;
    padding: 50px 200px;
}

.upper-middle-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    font-family: Roboto, sans-serif;

}

.second-container1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cars {
    border: #3992F6 solid;
    border-radius: 8px;
    padding: 0;
    margin: 0; 
}

.cars-nest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 0;
    font-family: Roboto, sans-serif;
}

.third-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E5E7EB;
    color: #1F2937;
    margin-top: 80px;
    font-size: 36px;
    padding: 100px 350px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    
}

.signature {
    align-self: flex-end;
    font-weight: bold;
}

.blue-box {
    background: #3992F6;
    margin: 80px 200px;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}

.button2 {
    border: #F9FAF8 solid;

}

.call-to-action {
    font-size: 18px;
    align-self: space-between;
}

h4 {
    font-size: 36px;
    margin: 0;
}

.footer {
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: Roboto, sans-serif;
    
}